.product-display {
    display: flex;
    margin: 0px 170px;
}

.product-display-left {
    display: flex;
    gap: 20px;
}

.product-img-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-img-list img {
    height: 164px;
}

.productdisplay-main-img {
    width: 586px;
    height: 700px;
}

.product-display-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.product-display-right h1 {
    color: #383838;
    font-size: 2.5rem;
    font-weight: 700;
}

.productdisplay-right-star {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 1.1rem;
}

.productdisplay-right-prices {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 30px;
    font-size: 1.4rem;
    font-weight: 500;
}

.productdisplay-right-price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 20px;
}

.productdisplay-right-price h2 {
    /* New price */
    font-size: 2.5rem;
    font-weight: 400;
    color: #383838;
}

.productdisplay-right-price h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #919191;
    text-decoration: line-through;
}

.productdisplay-right-size h1 {
    margin-top: 15px;
    color: #656565;
    font-size: 1.25rem;
    font-weight: 600;
}

.productdisplay-right-sizes {
    display: flex;
    margin: 15px 0px;
    gap: 20px;
}

.productdisplay-right-sizes div {
    padding: 18px 26px;
    background: whitesmoke;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    cursor: pointer;
}

.productdisplay-right-prices button {
    padding: 20px 40px;
    width: 230px;
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 600;
    gap: 10px;
}

.productdisplay-right-prices .shopping-cart-icon {
    font-size: 25px;
}

.productdisplay-right-category span {
    font-weight: 600;
}

/* RESPONSIVE */
@media(max-width: 1280px) {
    .product-display {
        margin: 0px 60px;
    }

    .product-display-left {
        gap: 10px;
    }

    .product-img-list {
        gap: 10px;
    }

    .product-img-list img {
        height: 120px;
    }

    .productdisplay-main-img {
        width: auto;
        height: 510px;
    }

    .product-display-right {
        margin: 0px 30px;
    }

    .product-display-right h1 {
        font-size: 1.5rem;
    }

    .productdisplay-right-star {
        gap: 3px;
        font-size: .9rem;
    }

    .productdisplay-right-prices {
        margin: 10px 0px;
        font-size: 1.1rem;
        gap: 20px;
    }

    .productdisplay-right-price h2 {
        font-size: 1.9rem;
    }

    .productdisplay-right-price h3 {
        font-size: 1.1rem;
    }

    .productdisplay-right-description {
        font-size: 1rem;
    }

    .productdisplay-right-size h1 {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .productdisplay-right-sizes div {
        padding: 14px 20px;
    }

    .productdisplay-right-prices button {
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
        font-size: .8rem;
    }

    .productdisplay-right-prices .shopping-cart-icon {
        font-size: 20px;
    }

    .productdisplay-right-category {
        margin-top: 5px;
        font-size: .9rem;
    }
}

@media(max-width: 1024px) {
    .product-display {
        margin: 0px 30px;
    }

    .product-display-left {
        gap: 5px;
    }

    .product-img-list img {
        height: 80px;
    }

    .productdisplay-main-img {
        height: 350px;
    }

    .product-display-right h1 {
        font-size: 1.2rem;
    }

    .productdisplay-right-star img {
        width: 15px;
    }

    .productdisplay-right-prices {
        gap: 15px;
    }

    .productdisplay-right-price h2 {
        font-size: 1.7rem;
    }

    .productdisplay-right-description {
        font-size: .9rem;
    }

    .productdisplay-right-sizes {
        margin: 10px 0px;
    }

    .productdisplay-right-size h1 {
        margin-top: 5px;
    }

    .productdisplay-right-sizes div {
        padding: 10px 16px;
        font-size: .9rem;
    }

    .productdisplay-right-prices button {
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 0px;
        font-size: .7rem;
        gap: 5px;
    }

    .productdisplay-right-prices .shopping-cart-icon {
        font-size: 15px;
    }

    .productdisplay-right-category {
        margin-top: 0px;
        font-size: .9rem;
    }
}

@media(max-width: 800px) {
    .product-display {
        margin: 0px 10px;
    }

    .product-display-left {
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    .product-img-list {
        flex-direction: row;
        gap: 6px;
    }

    .product-img-list img {
        height: 70px;
    }

    .productdisplay-main-img {
        height: 300px;
    }

    .product-display-right h1 {
        font-size: .9rem;
    }

    .productdisplay-right-star img {
        width: 13px;
    }

    .productdisplay-right-price h2 {
        font-size: 1.6rem;
    }

    .productdisplay-right-description {
        font-size: .8rem;
    }

    .productdisplay-right-sizes {
        gap: 5px;
    }

    .productdisplay-right-sizes div {
        padding: 4px 11px;
    }

    .productdisplay-right-prices button {
        width: 100px;
        font-size: .6rem;
        font-weight: 700;
        gap: 5px;
    }

    .productdisplay-right-category {
        font-size: .8rem;
    }
}

@media(max-width: 500px) {
    .product-display {
        flex-direction: column;
    }

    .product-display-left {
        gap: 5px;
        flex-direction: row;
        margin: auto;
    }

    .product-img-list {
        flex-direction: column;
        gap: 8px;
    }

    .product-img-list img {
        height: 75px;
    }

    .productdisplay-main-img {
        height: 330px;
    }

    .product-display-right {
        margin: 5px;
    }

    .product-display-right h1 {
        margin-top: 15px;
        font-size: 1.1rem;
    }

    .productdisplay-right-star img {
        width: 15px;
    }

    .productdisplay-right-price h2 {
        font-size: 2rem;
    }

    .productdisplay-right-price h3 {
        font-size: 1.2rem;
    }

    .productdisplay-right-description {
        font-size: 1rem;
    }

    .productdisplay-right-sizes {
        gap: 10px;
        margin-top: 20px;
    }

    .productdisplay-right-sizes div {
        padding: 10px 16px;
        font-size: 1rem;
    }

    .productdisplay-right-prices button {
        width: 150px;
        font-size: .9rem;
        font-weight: 600;
        padding: 12px 0px;
        gap: 10px;
    }

    .productdisplay-right-prices .shopping-cart-icon {
        font-size: 20px;
    }

    .productdisplay-right-category {
        font-size: 1rem;
    }
}